# Keep the sdist lean: ship the source, packaged data, licence and readme only.
# Docs (especially example notebooks with embedded image outputs) add ~57MB and
# are not needed to build or install the package.
prune docs
prune tests
prune mpl-results
prune htmlcov
prune .github

exclude .coverage
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude pytest.ini
exclude setup.cfg
exclude Makefile

global-exclude *.py[cod]
global-exclude __pycache__
