# These are the requirements for readthedocs
ipykernel
docutils
Pygments>=2.6.1
Sphinx
sphinx-rtd-theme
nbsphinx
setuptools
sphinx-autoapi
sphinxcontrib-bibtex
furo
entrypoints
pandas
tqdm
xarray
filelock

# Additional dependencies for project examples and notebooks
earthkit-plots>=1rc8
earthkit-data>=1rc9
matplotlib
cartopy
numpy
nbconvert
nbformat
